body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.node {
    stroke: black;
    stroke-width: 3px;
    fill: white;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
    stroke-width: 5;
}